02_first
03_gradient
04_hyperspace
05_discerning
06_real
07_final
08_perceptron
10_building
11_training
12_classifiers
13_batching
14_testing
15_testing
15_development
16_deeper
17_overfitting
18_taming
19_beyond
data
just_enough_python
notebooks
__pycache__